<div class="text-layout">
    <h2>Pipes Basicos</h2>
    <p>Pipes Incluidos en Angular - Usualmente en el Common Module.</p>

</div>

<div class="grid text-layout">
    <div class="col-4">
        <p-card header="Uppercase" 
                [subheader]="nombreLower ">
                    {{nombreLower | uppercase}}
        </p-card>
    </div>

    <div class="col-4">
        <p-card header="Lowercase" 
                [subheader]="nombreUpper ">
                {{nombreUpper | lowercase}}
        </p-card>
    </div>

    <div class="col-4">
        <p-card header="Tittlecase" 
                [subheader]="nombreCompleto ">
                {{nombreCompleto | titlecase}}
        </p-card>
    </div>
   
    <div class="text-layout">
        <h2>Date | Fecha | Pipe</h2>
        <p>Pipes para mostrar fechas.</p>
    
    </div>
</div>

<div class="grid">
    <div class="col-6">
        <p-card header="Fecha">

               <ul>
                   <li>Fecha</li>
                   <li>Fecha | date</li>
                   <li>Fecha | date: 'short'</li>
                   <li>Fecha | date: 'long'</li>
                   <li>Fecha Custom | date: 'MMMM dd, yyyy '</li>
                   <li>Fecha Custom | date: 'dd/mmm/yy z'</li>
               </ul>

               <hr>
               <ul>
                   <li>fecha | date:'long' : 'GMT-6' </li>
                   <li>fecha | date:'long' : 'GMT-5' </li>
                   <li>fecha | date:'long' : '' : 'fr' </li>


               </ul>

        </p-card>
    </div>

    
    <div class="col-6">

        <p-card header="Fecha JS">
            <ul>
                <li> {{fecha}} </li>
                <li> {{fecha | date}} </li>
                <li> {{fecha | date:'short' }} </li>
                <li> {{fecha | date:'long' }} </li>
                <li> {{fecha | date:'MMMM dd, yyyy ' }} </li>
                <li> {{fecha | date:'GG dd/MMM/yy h:mm z ' }} </li>
                </ul>
                <hr>

                <ul>
                    <li>{{fecha | date:'long' : 'GMT-6' }}</li>
                    <li>{{fecha | date:'long' : 'GMT-5' }}</li>
                   <li>{{fecha | date:'long' : '' : 'fr'}} </li>


                </ul>

            
        </p-card>
    </div>
</div>