/* Añadimos estilos de primeNG a travez de sus variables CSS*/
html, body 
{
    margin:10px;
    background-color: var(--surface-b);
    font-family: var( --font-family );

}


/* Clase personalizada para el texto en blanco*/
.text-layout
{
    color: var(--text-color);
}